<div class="content" fxFill fLayoutAlign="center center">
  <div class="intro" fxLayout="column">

    <div fxLayout="row" fxLayoutAlign="space-around center">

      <div fxFlex="50">
        <img fxFill src="../../../assets/location.svg" alt="travel illustration">
      </div>

    </div>
    
  </div>

  

  <h2>Ride Schedules</h2>

  <section>
    <mat-tab-group animationDuration="200ms">
      <mat-tab label="Morning"> <app-morning-trip></app-morning-trip> </mat-tab>
      <mat-tab label="Evening"> <app-evening-trip></app-evening-trip></mat-tab>
    </mat-tab-group>
  </section>
  <br>
  
</div>