@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

.content{
  padding: 2em;
  font-family: 'Poppins', sans-serif;
}
.sub-text{
  color: gray;
  margin-top: 1px;
}
h2{
  margin-bottom: 0px;
}
