<div class="content">
  <div class="intro" fxLayout="column">
    <span>
      <h2>Welcome back!</h2>
    </span>

    <div fxLayout="row" fxLayoutAlign="space-around center">

      <span class="sub-text" fxFlex="30">
        <h1>Where are you <br>  going today?</h1> 
      </span>
      <div fxFlex="50">
        <img src="../../../assets/location.svg" alt="travel illustration">
      </div>

    </div>
    
  </div>

  

  <h2>Available Rides</h2>

  <section>
    <mat-tab-group animationDuration="200ms">
      <mat-tab label="Morning"> <app-morning-trip></app-morning-trip> </mat-tab>
      <mat-tab label="Evening"> <app-evening-trip></app-evening-trip></mat-tab>
    </mat-tab-group>
  </section>
  <br>
  
</div>