.pick{
  padding-bottom: 25px;
}

.footer{
  border-top: 2px dotted gray;
  margin-top: 15px;
  padding-top: 10px;
}

mat-card{
  margin-bottom: 20px;
}

.pick i{
  color: rgb(95, 177, 224);
}

.drop i{
  color: rgb(237, 184, 25);
}

.book button{
  color: rgb(61, 144, 192);
}

.footer {
  color: gray;
}



