.customise-border{
  margin-bottom: 20px;
}
.close{
  margin-right: 5px;
  text-decoration: underline;
  color: red;
}

.book-btn{
  color: rgb(95, 177, 224);
}

img{
  margin-bottom: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  height: 50px;
}
mat-form-field {
  width: 100%;
}