<mat-card *ngFor = "let route of routes$ | async ">
  <div fxLayout="row" fxLayoutAlign="space-around center">
    <div class="time" fxLayout="column" fxFlex="65">
      <div class="pick" fxFlex="50"> 
        <span>{{route.pickUpTime}}</span>
        &nbsp;
        <span><i class="fa fa-circle-o"></i></span>
         &nbsp;
        <span>{{route.pickUp}}</span>
        </div>
      <div class="drop" fxFlex="50">
        <span>{{route.dropOffTime}}</span>
        &nbsp;
        <span><i class="fa fa-circle-o"></i></span>
         &nbsp;
        <span>{{route.dropOff}}</span>
      </div>
    </div>
  
    <div class="book" fxLayout="column" fxFlex="25">
      <a (click)="bookRide()"> BOOK NOW</a> 
    </div>
  </div>

  <div class="footer" fxLayout="row" fxLayoutAlign="space-around center">
    <span> 
      <i class="fa fa-money"></i> &nbsp;
      {{route.fare}}
    </span>
    <span>
      <i class="fa fa-clock-o"></i> &nbsp;
      {{route.rideDuration}}
    </span>
    <span>
      <i class="fa fa-users"></i> &nbsp;
      25
    </span>
  </div>
  

</mat-card>
