<mat-card>
  <div fxLayout="row" fxLayoutAlign="space-around center">
    <div class="time" fxLayout="column" fxFlex="65">
      <div class="pick" fxFlex="50"> 
        <span>5.05</span>
        &nbsp;
        <span><i class="fa fa-circle-o"></i></span>
         &nbsp;
        <span>Safaricom</span>
        </div>
      <div class="drop" fxFlex="50">
        <span>6.30</span>
        &nbsp;
        <span><i class="fa fa-circle-o"></i></span>
         &nbsp;
        <span>Imara Daima</span>
      </div>
    </div>
  
    <div class="book" fxLayout="column" fxFlex="25">
      BOOK NOW
    </div>
  </div>

  <div class="footer" fxLayout="row" fxLayoutAlign="space-around center">
    <span> 
      <i class="fa fa-money"></i> &nbsp;
      KES 100
    </span>
    <span>
      <i class="fa fa-clock-o"></i> &nbsp;
      45min
    </span>
    <span>
      <i class="fa fa-users"></i> &nbsp;
      25
    </span>
  </div>
  

</mat-card>

<!-- Card Two -->
<mat-card>
  <div fxLayout="row" fxLayoutAlign="space-around center">
    <div class="time" fxLayout="column" fxFlex="65">
      <div class="pick" fxFlex="50"> 
        <span>5.25</span>
        &nbsp;
        <span><i class="fa fa-circle-o"></i></span>
         &nbsp;
        <span>Shell Petrol Station</span>
        </div>
      <div class="drop" fxFlex="50">
        <span>6.30</span>
        &nbsp;
        <span><i class="fa fa-circle-o"></i></span>
         &nbsp;
        <span>Imara Daima</span>
      </div>
    </div>
  
    <div class="book" fxLayout="column" fxFlex="25">
      BOOK NOW
    </div>
  </div>

  <div class="footer" fxLayout="row" fxLayoutAlign="space-around center">
    <span> 
      <i class="fa fa-money"></i> &nbsp;
      KES 100
    </span>
    <span>
      <i class="fa fa-clock-o"></i> &nbsp;
      45min
    </span>
    <span>
      <i class="fa fa-users"></i> &nbsp;
      25
    </span>
  </div>
  

</mat-card>

<!-- Card Three -->
<mat-card>
  <div fxLayout="row" fxLayoutAlign="space-around center">
    <div class="time" fxLayout="column" fxFlex="65">
      <div class="pick" fxFlex="50"> 
        <span>5.30</span>
        &nbsp;
        <span><i class="fa fa-circle-o"></i></span>
         &nbsp;
        <span>Westlands Stage</span>
        </div>
      <div class="drop" fxFlex="50">
        <span>6.30</span>
        &nbsp;
        <span><i class="fa fa-circle-o"></i></span>
         &nbsp;
        <span>Westlands</span>
      </div>
    </div>
  
    <div class="book" fxLayout="column" fxFlex="25">
      BOOK NOW
    </div>
  </div>

  <div class="footer" fxLayout="row" fxLayoutAlign="space-around center">
    <span> 
      <i class="fa fa-money"></i> &nbsp;
      KES 100
    </span>
    <span>
      <i class="fa fa-clock-o"></i> &nbsp;
      45min
    </span>
    <span>
      <i class="fa fa-users"></i> &nbsp;
      25
    </span>
  </div>
  

</mat-card>
<!-- Card Four -->
<mat-card>
  <div fxLayout="row" fxLayoutAlign="space-around center">
    <div class="time" fxLayout="column" fxFlex="65">
      <div class="pick" fxFlex="50"> 
        <span>5.40</span>
        &nbsp;
        <span><i class="fa fa-circle-o"></i></span>
        &nbsp;
        <span>Mirrage Towers</span>
        </div>
      <div class="drop" fxFlex="50">
        <span>6.30</span>
        &nbsp;
        <span><i class="fa fa-circle-o"></i></span>
         &nbsp;
        <span>Imara Daima</span>
      </div>
    </div>
  
    <div class="book" fxLayout="column" fxFlex="25">
      BOOK NOW
    </div>
  </div>

  <div class="footer" fxLayout="row" fxLayoutAlign="space-around center">
    <span> 
      <i class="fa fa-money"></i> &nbsp;
      KES 100
    </span>
    <span>
      <i class="fa fa-clock-o"></i> &nbsp;
      45min
    </span>
    <span>
      <i class="fa fa-users"></i> &nbsp;
      25
    </span>
  </div>
  

</mat-card>