<div class="content">

  <img src="../../../assets/sign-up.svg" alt="location illustration">

  <div class="sign-up-form">
    <span>Sign Up</span>
    <form fxLayout="column"> 

      <div>
        <mat-form-field appearance="outline">
          <mat-label>Name</mat-label>
          <input matInput placeholder="Enter first name">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Phone Number</mat-label>
          <input matInput placeholder="Phone number">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput placeholder="johndoe@gmail.com">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Enter Password</mat-label>
          <input matInput placeholder="******">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Confirm Password</mat-label>
          <input matInput placeholder="******">
        </mat-form-field>
      </div>

      <div class="buttons"> 
        <div>
          <button mat-raised-button class="sign-up">Sign Up</button>
        </div>
      </div>
      
    </form>
  </div>

</div>