<div class="content">

  <img src="../../../assets/sign-up.svg" alt="location illustration">

  <div class="sign-up-form">
    <span>Create new account</span>
    <form [formGroup]="signUpForm" fxLayout="column"> 

      <div>
        <mat-form-field appearance="outline">
          <mat-label>Name</mat-label>
          <input matInput placeholder="Enter first name" formControlName="name">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Phone Number</mat-label>
          <input matInput placeholder="Phone number" formControlName="phoneNumber">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput placeholder="johndoe@gmail.com" formControlName="email">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Enter Password</mat-label>
          <input matInput placeholder="******">
        </mat-form-field>
      </div>
      <div>
        <mat-form-field appearance="outline">
          <mat-label>Confirm Password</mat-label>
          <input matInput placeholder="******" formControlName="password">
        </mat-form-field>
      </div>

      <div class="buttons" fxLayout="column" fxLayoutAlign="space-between center"> 
        <div>
          <button [disabled]="!signUpForm.valid" (click)="signUpUser()" mat-raised-button class="sign-up">Sign Up</button>
        </div>
        <br>
        <div fxLayout="row">
          <p>Already have an account?</p> &nbsp;<a routerLink="/login">Log In</a>
        </div>
      </div>
      
    </form>
  </div>

</div>