img{
  height: 120px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.text{
  display: block;
  text-align: center;
  font-size: 20px;
  margin-top: 8px;
  color: gray;
}

.close{
  display: block;
  text-align: right;
  text-decoration: underline;
  font-size: 15px;
}

